# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#mp3 files
*.mp3

# mac os x trash files
.DS_Store

# Cmake
build/
CPackOptions.cmake.in
*build
*.user
libs
